Programming languages used for machine learning
- python
- R

# List Tuple Set Dictonary
### Type of Objects in Python
- Immutable objects:- unchangeable
- Mutable objects:- changeable
### Immutable Objects:
- int
- float
- bool
- string
- tuple
### Mutable objects
- List
- Set
- Dictionary

In [4]:
# List should be included in the square brackets
a = [1,23,4,6,7]
type(a)

list

In [5]:
# List can store multiple data-type
my_list = [2,3,2.3,4.67,'hello']
print(my_list)
type(my_list)

[2, 3, 2.3, 4.67, 'hello']

list

In [6]:
# List are mutable ---> they are changeable
my_list = [2,3,2.3,4.67,'hello']
my_list[2]='name'
print(my_list)

[2, 3, 'name', 4.67, 'hello']

In [7]:
my_list.append(9)
print(my_list)

[2, 3, 'name', 4.67, 'hello', 9]

In [8]:
# list allow  duplicate values
list_1 = [1,2,2,4,4,4,5]
print(list_1)

[1, 2, 2, 4, 4, 4, 5]

In [9]:
list_1.count

In [10]:
list_1.count(4)

3

In [11]:
print(len(list_1))

7

In [12]:
# intiating an empty list
list_2 = []
print(list_2)

[]

In [15]:
list_2.append(3)
print(list_2)

[3, 3]

In [16]:
# join two lists
list_3 = [1,2,4,5,6]
list_4 = [7,8,9]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 4, 5, 6, 7, 8, 9]

## Tuple

In [17]:
# tuple are enclosed in parenthese
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [18]:
# tuple allow multiple data types
tuple_2 = (2,3,1.4,3.5,'name')
print(tuple_2)

(2, 3, 1.4, 3.5, 'name')

In [19]:
# converting a list into a tuple
my_list= [3,4,5,6,7]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6, 7]
(3, 4, 5, 6, 7)

In [20]:
# tuples are immutable --> are not changleable
my_tuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
print(len(my_tuple))

5

## Set

In [22]:
# set --> curly brackets
my_set = {1,2,4,5,6}
print(my_set)
type(my_set)

{1, 2, 4, 5, 6}

set

In [23]:
# SET  doesnot support indexing
print(my_set[2])

TypeError: 'set' object is not subscriptable

In [24]:
# convert a list into a set
list_5 = [4,6,7,8,9]
x =set(list_5)
print(x)
type(x)

{4, 6, 7, 8, 9}

set

In [25]:
# set doesn't allow duplicate value
set_3 = {1,2,4,4,5,5,6,3}
print(set_3)

{1, 2, 3, 4, 5, 6}

## Dictionary

In [26]:
# Dictionary have key:value pair
my_dic = {'name':'David','age':30, 'country': 'India'}
print(my_dic)
type(my_dic)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [27]:
# call value with the help of key no indexing use
print(my_dic['name'])
print(my_dic['age'])

David
30

In [28]:
# Dictionary doesn't allow duplicate value
dic_1 = {'name': 'David', 'age': 30, 'country': 'India','name': 'David', 'age': 30, 'country': 'India'}

In [29]:
print(dic_1)

{'name': 'David', 'age': 30, 'country': 'India'}

# Operators in Python
- Arithmetic Operator
- Assignment opeartor
- comparison opeartor
- Logical Operators
- Identity Operators
- Membership Operators

### Arithmetic operators

In [31]:
num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print('sum = ', sum)

# substraction
diff = num_1 - num_2
print('differnce = ', diff)

# multiple
multi = num_1 * num_2
print('multiple = ',multi)

# exponent
exp = num_1 ** num_2
print('exponent = ',exp)

# Modulus
mod = num_1 % num_2
print("module = ", mod)

sum =  30
differnce =  10
multiple =  200
exponent =  10240000000000
module =  0

### Assignment operators

In [33]:
a = 5
print(a)

a += 4
print(a)

a -= 3
print(a)

5
9
6

### Comparison Operators

In [36]:
a =5
b = 10
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a <= b)

False
True
False
True
True

### Logical operators

In [38]:
# There are 3 logical operators---> and, or , not
a =10

print(a > 20 and a > 5) # all condition need to be true
print(a>20 or a > 5) # alteast one condition need to be true for true
print(not(a>20 and a>5)) # inverted the result

False
True
True

### Identity operators

In [39]:
## 'is' and 'is not'
x =5
y = 10

print(x is y)
print(x is not y)

False
True

### Membership opeartors
There are two type:
- in
- not in

In [41]:
a =5
b =10

c = [1,2,4,5,7,3]
print(a in c)
print(a not in c)
print(b not in c)
print(b in c)

True
False
True
False

# if- else statement

In [42]:
# simple if-else statement
a = 30
b = 50

if a>b:
    print("a is greatest number")
else:
    print("b is the greatest number")

b is the greatest number

In [43]:
a = int(input('Enter the first number: '))
b = int(input('Enter the seconf number: '))

if a>b:
    print("a is greatest number")
else:
    print("b is the greatest number")

Enter the first number: 100
Enter the seconf number: 30
a is greatest number

In [44]:
## if - elif- else statement
### we use it, when we have more than two statement
a= 15
b = 25
c =  30

if (b<a>c):
    print('a is greater')
elif (a<b>c):
    print('b is greater')
else:
    print('c is greater')

c is greater

In [45]:
## Nested if statements

a= 20
b = 40
c = 60

if(a>b):
    if(a>c):
        print('a is the greatest number')
    else:
        print('c is the greatest number')
else:
    if (b>c):
        print('b is the greatest number')
    else:
        print('c is the greatest number')

c is the greatest number

# Loops in python
- for loop
- while loop

### for loop

In [47]:
laptop1 = input('Enter the price of the laptop: ')
type(laptop1)

Enter the price of the laptop: 200000

str

In [48]:
## when a input taken from user as it interger, float or any other data type it always consider as string
laptop3 =int( input('Enter the price of the laptop: '))
type(laptop3)

Enter the price of the laptop: 30000

int

In [55]:
for i in range(1,10): ## 0,1,2......,8,9
    print('table of 2 *', i, 2*i)

table of 2 * 1 2
table of 2 * 2 4
table of 2 * 3 6
table of 2 * 4 8
table of 2 * 5 10
table of 2 * 6 12
table of 2 * 7 14
table of 2 * 8 16
table of 2 * 9 18

In [56]:
number = [50,10,200,20]

for i in number:
    print(i)

50
10
200
20

### While loop
intial
while condition:
   statement
   increment/decrement

In [57]:
i =0
while i<10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

# Function in a python
function is a block of code that can be reused in python

In [3]:
##Factorial of a number
## factorial of 5 --> 1x2x3x4x5 = 120
number = int(input('Enter the number to find its factorial: '))
factorial = 1
if number == 0:
    print('The factorial of 0 is 1')
else:
    for i in range(1, number+1):  ## range(1,6)
        factorial = factorial*i
    print("the factorial of ", number,'is', factorial)

Enter the number to find its factorial: 10
the factorial of  10 is 3628800

In [4]:
## Factorial function
def factorial_value(num):  # function call
    factorial = 1
    
    if num == 0:
        return factorial
    else:
        for i in range(1, num+1):
            factorial = factorial *i
        return factorial

In [5]:
print(factorial_value(5))

120

In [6]:
print(factorial_value(10)) # function call

3628800